/{
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    /*
     * Trackball split listener
     * - XY invert は常に有効
     * - Layer 5 にいる間はスクロールモード
     */
    trackball_split_listener: trackball_split_listener {
        compatible = "zmk,kscan-transform-listener";
        device = <&trackball_split>;
        status = "okay";

        /* 常時有効：XY反転 */
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        >;

        /* Layer 5（Auto Scroll）時のみ有効：スクロール変換 */
        layer-input-processors = <
            5 &pointing_move_transform SCROLL
        >;
    };
};
